.Logo {
    position: absolute;
    width: 120px;
    left: -15px;
    top: -20px;
}

.head {
    color: #181E4B;
    position: relative;
    font-size: 35px;
    top: 15px;
    left: 75px;
    font-family: serif;
    font-weight: bold;
}

.btn:hover {
    color: #fff;
}

.btn {
    margin-left: 76px;
    margin-top: 30px;
    width: 90px;
    height: 40px;
}

.gambar1 {
    position: absolute;
    top: 0px;
    right: 0px;
}

.navbar-light .navbar-nav .nav-link.active {
    color: black;
    font-weight: bold;
    font-family: serif;
    margin-left: 35px;
    margin-top: 10px;
    z-index: 9;
    font-size: medium;
}

.navbar-light .navbar-nav .nav-link.active:hover {
    color: rgb(163, 159, 159);
    text-decoration: none;
}

h3 {
    /* margin-left: 80px; */
    margin-top: -30px;
}

h6 {
    margin-left: 80px;
    margin-top: 20px;
}

input[type=text],
select {
    width: 100%;
    height: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 70px;
}