.Logo {
    position: absolute;
    width: 150px;
    left: -30px;
    top: -20px;
}

.title {
    color: #5E6282;
    position: relative;
    font-size: 15px;
    top: 10px;
    left: 100px;
}

.head {
    color: #181E4B;
    position: relative;
    font-size: 50px;
    top: 10px;
    left: 97px;
}

.btn:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link.active {
    color: black;
    font-weight: bold;
    margin-left: 35px;
    margin-top: 10px;
    z-index: 9;
    font-size: medium;
}

.navbar-light .navbar-nav .nav-link.active:hover {
    color: rgb(163, 159, 159);
    text-decoration: none;
}

.DashboardList {
    position: absolute;
    width: 300px;
    left: 170px;
    top: 10px;
    z-index: 1;
}

.DashboardList2 {
    position: absolute;
    width: 300px;
    left: 390px;
    top: 15px;
    z-index: 1;
}

.DashboardList3 {
    position: absolute;
    width: 300px;
    left: 610px;
    top: 20px;
    z-index: 1;
}

.DashboardList4 {
    position: absolute;
    width: 300px;
    left: 830px;
    top: 25px;
    z-index: 1;
}

.gambar1 {
    position: absolute;
    top: -365px;
    right: -35px;
    width: 700px;
}

.quotes {
    position: absolute;
    top: 520px;
    right: 500px;
    width: 250px;
    z-index: 1;
}