.navbar {
    background-color: #FFF1DA;
}

.Logo {
    position: absolute;
    width: 150px;
    left: -30px;
    top: -20px;
}

.show {
    color: #5E6282;
    position: relative;
    font-size: 15px;
    top: 90px;
    left: 100px;
}

.btn1 {
    width: 60px;
    height: 35px;
    border-radius: 5px;
    color: white;
}

.title {
    color: #5E6282;
    position: relative;
    font-size: 15px;
    top: 70px;
    left: 98px;
}

.head {
    color: #181E4B;
    position: relative;
    font-size: 50px;
    top: 70px;
    left: 97px;
}

.btn:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link.active {
    color: black;
    font-weight: bold;
    margin-left: 35px;
    margin-top: 10px;
    z-index: 9;
    font-size: medium;
}

.navbar-light .navbar-nav .nav-link.active:hover {
    color: rgb(163, 159, 159);
    text-decoration: none;
}

.gambar1 {
    position: absolute;
    top: -365px;
    right: -35px;
    width: 700px;
}

.quotes {
    position: absolute;
    top: 540px;
    right: 500px;
    width: 250px;
    z-index: 1;
}


/* .select {
    width: 50px;
} */

table {
    width: 1070px;
    border-collapse: collapse;
    position: relative;
    margin-top: 70px;
    margin-left: 100px;
    z-index: 1;
}

thead th {
    position: relative;
    top: 0;
    background-color: #181E4B;
    color: #e6e7e8;
    font-size: 14px;
}

th,
td {
    border-bottom: 1px solid #dddddd;
    padding: 11px 15px;
    font-size: 12px;
}

table,
th,
td {
    border: 1px solid #5E6282;
    border-collapse: collapse;
}

td img {
    height: 100px;
    width: 100px;
    border-radius: 15%;
    border: 1px solid #e6e7e8;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #edeef1;
}

tr:hover td {
    color: #44b478;
    cursor: pointer;
    background-color: #ffffff;
}


/* ::-webkit-scrollbar {
    width: 6px;
} */


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    z-index: 1;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}